<!-- {if $full_page} -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
{$lang.page_note}{$lang.total_records}{$record_count}{$lang.how_many_user}
</div>

<form method="POST" action="" name="listForm">
<!-- start users list -->
<div class="list-div" id="listDiv">
<!-- {/if} -->
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>ID</th>
    <th>UserID</th>
    <th>分佣比例</th>
    <th>分佣金额</th>
    <th>订单</th>
    <th>订单金额</th>
    <th>下单人</th>
    <th>状态</th> 
    <th>时间</th> 
    <!--<th>操作</th>-->
  <tr>
  {foreach from=$logdb item=d}
  <tr>
    <td>{$d.id}</td>
    <td>{$d.expend_user_id}</td>
    <td>{$d.expend_bili}</td>
    <td>{$d.expend_amount}</td>
    <td>{$d.order_id}{$d.order_sn}</td>
    <td>{$d.order_amount}</td>
    <td>{$d.user_id}</td>
    <td>{$d.status_format}</td>
    <td>{$d.ctime}</td>
	<!-- {if $d.status eq '0'}-->
	<!--
    <td align="center">
      <a href="fenxiao_list.php?act=push_expend_user&id={$d.id}" title="{$lang.edit}" class="btn-orange">确定</a>
      <a href="javascript:confirm_redirect('取消此分佣?', 'fenxiao_list.php?act=cancel_expend_user&id={$d.id}')" title="取消分佣" class="btn-red">取消</a>
    </td>
	-->
	<!-- {/if}--> 
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
  <table cellpadding="4" cellspacing="0">
    <tr>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>
  <!-- {if $full_page} -->
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

<!-- {literal} -->
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
<!-- {/literal} -->
</script>
{include file="pagefooter.htm"}
<!-- {/if} -->