<!-- $Id: shop_config.htm 16865 2009-12-10 06:05:32Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js"}
<div class="tab-div">
  <!-- tab bar -->
  <div id="tabbar-div">
    <p>
     <span class="tab-front" id="tab">用户账号调整</span>
    </p>
  </div>
  <!-- tab body -->
  <div id="tabbody-div">
    <form enctype="multipart/form-data" name="theForm" action="?act=post" method="post">
   <!-- 返现设置 -->
    <table width="90%">
		<tbody>
				<tr>
					<td class="label" valign="top">用户名</td>
					<td style="width:170px;">
						<input name="username" type="text" value="{$userinfo.user_name}" style="min-width:150px;width:150px;" readonly>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<!--<input name="username_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">-->
						<span class="notice-span" style="display:block;" id="noticesms_shop_mobile">{$val.note}</span>
					</td>
				</tr>
				<tr>
					<td class="label" valign="top">手机号</td>
					<td style="width:170px;">
						<input name="mobile_phone" type="text" value="{$userinfo.mobile_phone}" style="min-width:150px;width:150px;" readonly>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<!--<input name="mobile_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">-->
						<span class="notice-span" style="display:block;" id="noticesms_shop_mobile">{$val.note}</span>
					</td>
				</tr>
				<tr>
					<td class="label" valign="top">用户角色</td>
					<td style="width:170px;">
						<select id="role" name="role" style="width:160px;margin:0px;">
							<option value="0">==无==</option>
						{foreach from=$role item=r}
							<option value="{$r.id}" {if $userinfo.role eq $r.id}selected{/if}>{$r.name}</option>
						{/foreach}
						</select>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<input name="role_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">
						<span class="notice-span" style="display:block;" id="noticesms_shop_mobile">{$val.note}</span>
					</td>
				</tr>
				<tr>
					<td class="label" valign="top">用户身份</td>
					<td style="width:170px;">
						<select id="identity" name="identity" style="width:160px;margin:0px;">
							<option value="0">==无==</option>
						{foreach from=$identity item=r}
							<option value="{$r.id}" {if $userinfo.identity eq $r.id}selected{/if}>{$r.name}</option>
						{/foreach}
						</select>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<input name="identity_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">
						<span class="notice-span" style="display:block;" id="noticesms_shop_mobile">{$val.note}</span>
					</td>
				</tr>
				<tr>
					<td class="label" valign="top">用户等级</td>
					<td style="width:170px;">
						<select id="level" name="level" style="width:160px;margin:0px;">
							<option value="0">==无==</option>
						{foreach from=$level item=r}
							<option value="{$r.id}" {if $userinfo.level eq $r.id}selected{/if}>{$r.name}</option>
						{/foreach}
						</select>						
					</td>
					<td style="text-align:left;padding-left:10px;">
						<input name="level_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">
						<span class="notice-span" style="display:block;" id="noticesms_shop_mobile">{$val.note}</span>
					</td>
				</tr>
				
				
				<tr>
					<td class="label" valign="top">推荐人</td>
					<td style="width:170px;">
						<input name="tuijianren_user_id" type="hidden" value="{$userinfo.tuijianren_user_id}" />
						<input name="tuijianren_user_name" type="text" value="{$userinfo.tuijianren_user_name}" style="min-width:150px;width:150px;" disabled>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<input name="tuijianren_to" type="text" value="{$userinfo.tuijianren_user_id}" placeholder="用户id" style="min-width:80px;width:80px;">
						<input name="tuijianren_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">
					</td>
				</tr>
				<tr>
					<td class="label" valign="top">接点人</td>
					<td style="width:170px;">
						<input name="jiedianren_user_id" type="hidden" value="{$userinfo.jiedianren_user_id}" >
						<input name="jiedianren_user_name" type="text" value="{$userinfo.jiedianren_user_name}" style="min-width:150px;width:150px;" disabled>
					</td>
					<td style="text-align:left;padding-left:10px;">
						<input name="jiedianren_to" type="text" value="{$userinfo.jiedianren_user_id}" placeholder="用户id" style="min-width:80px;width:80px;">
						<input name="jiedianren_change_note" type="text" value="" placeholder="备注原因" style="min-width:150px;width:150px;">
					</td>
				</tr>
				
        </tbody>
    </table>

    <div class="button-div">
      <input name="uid" type="hidden" value="{$userinfo.uid}" class="button" />
      <input name="submit" type="submit" value="{$lang.button_submit}" class="button" />
      <input name="reset" type="reset" value="{$lang.button_reset}" class="button" />
    </div>
    </form>
  </div>
</div>
{insert_scripts files="tab.js,validator.js"}
{include file="pagefooter.htm"}