{if $full_page}
<!-- $Id: user_account_list.htm 17030 2010-02-08 09:39:33Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="25" height="22" border="0" alt="SEARCH" />
   <!-- {$lang.user_id} <input type="text" name="keyword" size="10" />
      
	  <select name="process_type">
        <option value="-1">{$lang.process_type}</option>
        <option value="0" {$process_type_0}>{$lang.surplus_type_0}</option>
        <option value="1" {$process_type_1}>{$lang.surplus_type_1}</option>
      </select>
      <select name="payment">
      <option value="">{$lang.pay_mothed}</option>
      {html_options options=$payment_list}
      </select>
	  
      <select name="is_paid">
        <option value="-1">{$lang.status}</option>
        <option value="0" {$is_paid_0}>{$lang.unconfirm}</option>
        <option value="1" {$is_paid_1}>{$lang.confirm}</option>
        <option value="2">{$lang.cancel}</option>
      </select>
	  -->
	  <select name="paid_status">
        <option value="all">全部</option>
        <option value="3">未提现</option>
        <option value="1">已提现</option>
        <option value="2">操作中</option>
      </select>
	  
      <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>


<form method="POST" action="?act=payment" name="listForm">
<!-- start user_deposit list -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>选择</th>
    <th>用户名</th>
    <th>申请日期</th>
    <th>提现金额</th>
    <th>实际到账</th>
    <th>支付方式</th>
    <th>支付宝账户/银行账户</th>
    <th>真实姓名</th>
    <th>处理时间</th>
    <th>处理状态</th>
    <th>状态</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list item=item}
  <tr>
    <td>
	{if $item.is_paid neq '1'}
		<input type="checkbox" name="checkboxes[]" value="{$item.id}">
	{/if}	
	</td>
    <td>{if $item.user_name}{$item.user_name}{else}{$lang.no_user}{/if}</td>
    <td align="center">{$item.add_date}</td>
    <td align="right">{$item.surplus_amount}</td>
    <td align="right">{$item.daozhuang_amount}</td>
    <td>{if $item.tixian_account_type eq 'zhifubao'}支付宝{elseif $item.tixian_account_type eq 'yinhang'}银行{/if}</td>
    <td>{$item.tixian_account_info}</td>
    <td align="center">{$item.tixian_account_realname}</td>
    <td align="center">{$item.alipay_exec_time}</td>
    <td align="center">{$item.alipay_return}</td>
    <td align="center">{if $item.is_paid eq '1'}已完成{elseif $item.is_paid eq '0'}未完成{/if}</td>
    <td align="center"></td>
  </tr>
  {foreachelse}
  <tr>
    <td class="no-records" colspan="12">{$lang.no_records}</td>
  </tr>
  {/foreach}
</table>
 <input type="submit" value="批量处理提现" class="button" />
<table id="page-table" cellspacing="0">
<tr>
  <td>&nbsp;</td>
  <td align="right" nowrap="true">
  {include file="page.htm"}
  </td>
</tr>
</table>
{if $full_page}
</div>
<!-- end user_deposit list -->
</form>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 搜索用户
 */
function searchUser()
{
    //listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    //listTable.filter['process_type'] = document.forms['searchForm'].elements['process_type'].value;
    //listTable.filter['payment'] = Utils.trim(document.forms['searchForm'].elements['payment'].value);
    //listTable.filter['is_paid'] = document.forms['searchForm'].elements['is_paid'].value;
    listTable.filter['paid_status'] = document.forms['searchForm'].elements['paid_status'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}